$color-white: #fff;
$color-greyzero: hsla(0,0%,100%,.90);
$color-greyone: hsla(0,0%,100%,.80);
$color-greytwo: hsla(0,0%,85%,.80);
$color-greythree: hsla(0,0%,70%,.80);
$color-greyfour: hsla(0,0%,50%,.80);
$color-orange: #d28445;
$color-orange-mute1: #916d4f;
$color-orange-mute2: #615042;
$color-yellow: #e3c84e;
$color-blue: #1400ff;
$animated-underline-color: #1400ff;
$animated-underline-color-dark: $color-orange;
$color-background: #fffaf7;
$color-background-dark: #1a1c20;
$color-text: #2d2d2d;
$color-text-dark: $color-greyone;
$color-link-visited-red: #993f3f;

html,
body {
  text-rendering: optimizeLegibility;
  background: $color-background;
  color: $color-text;
  font: 16px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}
body > header {
  margin: auto;
  max-width: 40rem;
  padding: 0.8rem;
}
main {
  margin: auto;
  max-width: 40rem;
  padding: 0.8rem;
}
pre {
  background: white;
  overflow: scroll;
  padding: 1rem;
}
td {
  border: 1px solid #2d2d2d;
  padding: 10px;
}
img {
  height: auto;
  max-width: 100%;
}
.homepage-list {
  list-style: none;
  padding: 1rem 0;
}
.homepage-list li {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 40rem) {
  .homepage-list li a {
    width: 100%;
  }
}

nav {
  font-family: "Lucida Console", Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  /*line-height: 1.1;*/
}

h1 {
  font-size: 1.75em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: 400;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

.tx-projects {
  font-size: 1.4em;
}

.tx-guides {
  font-size: 1.2em;
}

.tx-tips {
  font-size: 0.8em;
}

time {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 90%;
}

img {
  display: block;
  margin: auto;
  border-radius: 5px;
  max-width: 100%;
}

.invert {
  filter: invert(1);
  -webkit-filter: invert(1);
}

blockquote {
  font-size: 0.75em;
  font-style: italic;
  line-height: 1.1;
  font-family: "Lucida Console", Monaco, monospace;
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: $color-greyfour;
  border-left: .25rem solid $color-greyfour;
}
blockquote strong {
  color: $color-greythree;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

footer {
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 2.7em;
}

footer ul li:before {
  content: '';
}

footer {
  font-family: "Lucida Console", Monaco, monospace;
}

article aside {
  min-width: 100%;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}

article aside figure {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

article aside figure figcaption {
  font-family: "Lucida Console", Monaco, monospace;
  font-style: italic;
  font-size: 80%;
  color: $color-greyfour;
  padding-top: 10px;
}

/**
 * Code segments
 */
/*code {
  padding: .25em .5em;
  color: #e94e4e;
  background-color: #151515;
  border-radius: 3px;
  font-size: 75%;
}
pre {
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.3;
  overflow-x: auto;
  background-color: #151515;
  font-size: 80%;
  scrollbar-width: thin;
  scrollbar-color: $color-greyfour black;
}
pre code {
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}*/

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
}
/**
 * Fancy link hover
 */
@media (min-width: 800px) {
  a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    /*margin-top: 5px;*/
    right: 0;
    background: $animated-underline-color;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
  }
  a:hover:after {
    width: 100%;
    left: 0;
    background: $animated-underline-color;
  }
}
/* NO - Underline From Left */
a.normal {
  transform: none;
  -webkit-transform: none;
}
a.normal:before {
  height: 0px;
  -webkit-transition-property: none;
  transition-property: none;
}
a.normal:after {
  width: 0%;
  transition: unset;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: $color-background-dark;
    color: $color-text-dark;
  }
  a {
    color: $color-orange;
  }
  @media (min-width: 800px) {
    a:after {
      background: $animated-underline-color-dark;
    }
    a:hover:after {
      background: $animated-underline-color-dark;
    }
  }
}