$color-white: #fff;
$color-greyone: #dedede;
$color-greytwo: #b4b4b4;
$color-greythree: #8b8b8b;
$color-greyfour: #616161;

$main-width: 38rem;

body {
  background-color: #000;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  color: $color-greytwo;
  font-size: 1.1em;
  line-height: 1.5;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

hr {
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(111, 111, 111, 0), rgba(111, 111, 111, 0.75), rgba(111, 111, 111, 0));
}

main {
  background-color: #1c1c1c;
}

main section {
  max-width: $main-width;
  margin-left:  auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Sharetech", Monaco, monospace;
}

h1 {
  color: $color-white;
  font-size: 2em;
}

h2 {
  color: $color-white;
  font-size: 1.5em;
}

h3 {
  color: $color-greyone;
  font-size: 1.4em;
}

h4 {
  color: $color-greyone;
  font-size: 1.3em;
}

h5 {
  color: $color-greyone;
  font-size: 1.2em;
}

h6 {
  color: $color-greyone;
  font-size: 1.1em;
}

time {
  color: $color-greyfour;
  font-size: 14px;
}

time {
  font-family: "Lucida Console", Monaco, monospace;
}

img {
  display: block;
  margin: auto;
  border-radius: 5px;
  max-width: 100%;
}

header {
  font-family: "Lucida Console", Monaco, monospace;
}

header h1 {
  text-align: center;
}

header nav {
  max-width: $main-width;
  margin: 0 auto;
  text-align: right;
}

footer {
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 2.7em;
}

footer ul li:before {
  content: '';
}

footer {
  font-family: "Lucida Console", Monaco, monospace;
}

article aside small {
  color: $color-greyfour;
  float: right;
}

article aside img {
  /*display: block;
  clear: left;
  clear: both;*/
}

/**
 * Code segments
 */
code {
  padding: .25em .5em;
  color: #e94e4e;
  background-color: #151515;
  border-radius: 3px;
}
pre {
  border-radius: 10px;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.3;
  overflow-x: auto;
  background-color: #151515;
  font-size: 80%;
}
pre code {
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/**
 * Fancy link hover
 */
a {
  display: inline-block;
  text-decoration: none;
  color: #d28445;
  position: relative;
}
a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  /*margin-top: 5px;*/
  right: 0;
  background: #f4bf75;
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}
a:hover:after {
  width: 100%;
  left: 0;
  background: #f4bf75;
}
/* NO - Underline From Left */
a.normal {
  transform: none;
  -webkit-transform: none;
}
a.normal:before {
  height: 0px;
  -webkit-transition-property: none;
  transition-property: none;
}
a.normal:after {
  width: 0%;
  transition: unset;
}
