{% extends "index.html" %}

{% block title %}{{ term.name | capitalize }} &middot; {{ config.title }}{% endblock title %}
{% block description %}
  {{ config.description }}
{% endblock description %}

{% block content %}
  {% block hero %}
  {% endblock %}

  <h1>{{ term.name | capitalize }}</h1>
  <ul class="homepage-list" style="padding-left: 0;">
    {% for page in term.pages | sort(attribute="date") | reverse %}
      <li>
        <a href="{{ page.permalink }}">{{ page.title }}</a>
        {% if page.date %}
          <time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%B %d, %Y") }}</time>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
