{% extends "index.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block header %}
  <nav>
    <a href="/">Posts</a>
  </nav>
  <hr>
{% endblock header %}

{% block content %}
  <article>

    <h1>{{ page.title }}</h1>

    <time>
      {% if page.extra.updated_date %}
        Published on
      {% endif %}
      {{ page.date | date(format="%B %d, %Y") }}
    </time>

    {% if page.extra.updated_date %}
      <time>Updated on {{ page.extra.updated_date | date(format="%B %d, %Y") }}</time>
    {% endif %}

    {{ page.content | safe }}

    {% if config.extra.signature_img_src or config.extra.signature_text %}
      <aside>
        {% if (config.extra.signature_img_src) %}
          <img src="{{ config.extra.signature_img_src }}">
        {% endif %}
        {% if (config.extra.signature_text) %}
          <small>{{ config.extra.signature_text }}</small>
        {% endif %}
      </aside>
    {% endif %}
  </article>
{% endblock content %}
