{% extends "index.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block header %}
  <header>
    <small>
      <a href="/">Posts</a>
    </small>
    <hr>
  </header>
{% endblock header %}

{% block content %}
  <article>
    <time>
      {% if page.extra.updated_date %}
        Published on
      {% endif %}
      {{ page.date | date(format="%B %d, %Y") }}
    </time>

    {% if page.extra.updated_date %}
      <br>
      <time>Updated on {{ page.extra.updated_date | date(format="%B %d, %Y") }}</time>
    {% endif %}

    <h1>{{ page.title }}</h1>

    {{ page.content | safe }}

    {% if config.extra.signature_img_src or config.extra.signature_text %}
        {% if (config.extra.signature_img_src) %}
          <img src="{{ config.extra.signature_img_src }}">
        {% endif %}
        {% if (config.extra.signature_text) %}
          {{ config.extra.signature_text }}
        {% endif %}
    {% endif %}
  </article>
{% endblock content %}
