{% extends "index.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block header %}
  <header>
    <div class="right">
      <small>
        <a href="/">Posts</a>
      </small>
    </div>
    <hr>
  </header>
{% endblock header %}

{% block content %}
  <div class="post">
    <span class="post-date right">{{ page.date | date(format="%B %d, %Y") }}</span>
    <h1 class="post-title">{{ page.title }}</h1>

    <br>

    {{ page.content | safe }}

    {% if config.extra.signature_img_src or config.extra.signature_text %}
      <div class="right sig">
        {% if (config.extra.signature_img_src) %}
          <img src="{{ config.extra.signature_img_src }}">
        {% endif %}
        {% if (config.extra.signature_text) %}
          <p>
            <small>
              <i>{{ config.extra.signature_text }}</i>
            </small>
          </p>
        {% endif %}
      </div>
    {% endif %}

  </div>
{% endblock content %}
